*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

button {
  float: right;
}

h1 {
  display: inline-block;
  font-size: 65px;
  margin: 20px 0px 10px 0px;
}

h2 {
  text-align: center;
}

h3 {
  color: #5b4447;
  font-weight: 300;
  margin: 0px 0px 0px 5px;
}

input {
  display: block;
  margin: 0px auto;
  width: 400px;
  height: 40px;
  font-size: 24px;
}

label {
  padding: 11px 40px;
  float: left;
}

label,
button {
  background-color: #5B4447;
  color: #FFFFFF;
  border: none;
  height: 40px;
  width: 150px;
  font-size: 12px;
}

.button-icons {
  background-color: #5B4447;
  width: 100%;
  height: 46px;
  padding: 0px 8px;
}

.card-cap-cntr {
  height: 110px;
}

.card-btns {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-top: 8px;
}

.card-cap {
  color: #5b4447;
  margin: 0px 5px;
}

.card-container-container{
  background-color: #c2b2b4;
}

.card-container  {
  width: 82%;
  min-height: 280px;
  margin: 0px auto;
  padding: 30px 0px;
}

.delete-btn {
  background-image: url("images/delete.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.favorite-btn {
  background-image: url("images/favorite.svg");
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-label {
  color: #938284;
  text-align:left;
  margin: 0px 0px 5px 0px;
}

.logo-icon {
  background-image: url("images/foto-finder-logo.svg");
  background-size: cover;
  width:85px;
  height: 60px;
  background-repeat: no-repeat;
  display: inline-block;
}

.photo-card {
  background-color: #FFFFFF;
  border: 2px solid #5B4447;
  width: 230px;
  height: 340px;
  display: inline-block;
  margin: 0px 29px 10px 0px;
}

.top-container {
  width: 515px;
  margin: 0px auto;
}

.top-section {
  background-color: #3E2A35;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 80px;
}

#caption-input {
  margin-bottom: 40px;
  width: 100%;
}

#title-input {
  margin-bottom: 20px;
  width: 100%;
}

.delete-btn:hover {
  background-image: url("images/delete-active.svg");
}

.favorite-btn:hover {
  background-image: url("images/favorite-active.svg");
}


.favorite-background {
  background-color: #E26D5A;
  color: #FFFFFF;
}

.favorite-color {
    background-image: url("images/favorite-active.svg");
}

@media screen and (max-width: 960px) {

  .card-container {
    width: 664px;
  }

  .card-image {
    width:296px;
  }

  .photo-card {
    width: 300px;
  }
}

@media screen and (max-width: 720px) {

  .card-container {
    width: 80%;
    text-align: center;
  }

  .photo-card {
    width: 40%;
    height: auto;
    text-align: left;
  }

  .card-image {
    width: 100%;
    height: auto;
    max-height: 250px;

  }

  delete-btn {
    text-align: left;
  }

}

@media screen and (max-width: 600px) {

  .top-container {
    width: 80%;
  }

  h1 {
    font-size: 50px;
  }

  .photo-card {
    width: 70%;
  }

  .logo-icon {
    width: 68px;
    height: 50px;
  }

}

@media screen and (max-width: 500px) {

  h1 {
    font-size: 36px;
  }

  .logo-icon {
    width: 50px;
    height: 36px;
  }

  label {
    padding: 11px 30px;
    float: left;
  }

  label,
  button {

    height: 40px;
    width: 120px;
    font-size: 10px;
  }

  .input-label {
    font-size: 12px;
  }

  .photo-card {
    width: 90%;
  }
}

@media screen and (max-width: 365px) {

  h1 {
    font-size: 30px;
  }

  .logo-icon {
    width: 42px;
    height: 30px;
  }

  .photo-card {
    width: 100%;
  }
}



  /*@media screen and (max-width: 520px) {
      .top-container {
        width: 250px;
        }
        .input {
          margin-left: 0;
        }

      .card-container{ width:162%;}
  }*/
