*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.top-section {
  background-color: #3E2A35;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 40px;
}

.top-container {
  width: 400px;
  margin: 0px auto;
}

.input-label {
  color: #938284;
  text-align:left;
  margin: 0px 0px 10px 0px;
}

input {
  display: block;
  margin: 0px auto;
  width: 400px;
  height: 40px;
}

h1 {
  display: inline-block;
  font-size: 50px;
  margin: 20px 0px 10px 0px;
}


#caption-input {
  margin-bottom: 40px;
}


#title-input {
  margin-bottom: 20px;
}


.logo-icon {
  background-image: url("images/foto-finder-logo.svg");
  background-size: cover;
  width:70px;
  height: 50px;
  background-repeat: no-repeat;
  display: inline-block;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label,
button {
  background-color: #5B4447;
  color: #FFFFFF;
  border: none;
  height: 40px;
  width: 150px;
  font-size: 12px;
}

label {
  padding: 10px 40px;
  margin-right: 100px;
}

.photo-card {
  background-color: #FFFFFF;
  border: 2px solid #5B4447;
  width: 250px;
  height: 313px;
  display: inline-block;
  margin: 0px 10px 10px 0px;

}

h3 {
  color: #5b4447;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  padding-top: 5px;
}

.caption-container {
  width: 250px;
  height: 100px;
}

.card-cap {
  color: #5b4447;
  width: 242px;
  height: 70px;
  margin: 0px;
}

.card-btns {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 5px;
}

.delete-btn {
  background-image: url("images/delete.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.delete-btn:hover {
  background-image: url("images/delete-active.svg");
}

.favorite-btn {
  background-image: url("images/favorite.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 155px;
  padding top: 5px;

}

.favorite-btn:hover {
  background-image: url("images/favorite-active.svg");
}

.button-icons {
  background-color: #5B4447;
  width: 99%;
  height: 46px;
  margin-top: 10px;

}

.card-container  {
  background-color: #c2b2b4;
  width: 100%;
  min-height: 400px;
  margin: 0px auto;
  padding: 30px 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.favorite-background {
  background-color: #E26D5A;
  color: #FFFFFF;
}

.favorite-color {
    background-image: url("images/favorite-active.svg");
}

img {
  width: 250px;
}

  /*@media screen and (max-width: 520px) {
      .top-container {
        width: 250px;
        }
        .input {
          margin-left: 0;
        }

      .card-container{ width:162%;}
  }*/
