
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.top-section {
  background-color: #3E2A35;
  color: #FFFFFF;
  text-align: center;
}

.top-container {
  width: 500px;
  margin: 0px auto;
}

.input-label {
  color: #C2B2B4;
  text-align:left;
  margin-right: 400px;
}

input {
  display: block;
  margin: 0px auto;
  width: 400px;
  height: 40px;
}

h1 {
  display: inline-block;
  font-size: 50px;
  margin: 20px 0px 10px 0px;
}

.input-label {
  margin: 0px;
}

.logo-icon {
  background-image: url("images/foto-finder-logo.svg");
  background-size: cover;
  width:70px;
  height: 50px;
  background-repeat: no-repeat;
  display: inline-block;
}

label,
button {
  background-color: #5B4447;
  color: #FFFFFF;
  border: none;
  height: 40px;
  width: 100px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.photo-card {
  border: 2px solid #5B4447;
  width: 250px;
  height: 313px;
  margin-bottom: 0;
  margin-top: 40px;
  margin-left: 60px;
}

h3 {
  background-color: white;
  color: #5b4447;
  font-weight: 300;
  width: 248px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

img{
  width: 248px;
}

.card-cap {
  background-color: white;
  color: #5b4447;
  width: 246px;
  height: 70px;
  margin-top: -5px
}

.button-icons {
  background-color: #5B4447;
  width: 246px;
  height: 50px;
  margin-top: -15px;
}
svg {
  width:30px;
  padding-top: 5px;
}

.st0:hover {
  fill: #E26D5A;
}

#Layer_2 {
  margin-left: 170px;
}
.card-container  {
    background-color: #c2b2b4;
    position:absolute;
    top: 262px;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    margin: 0 auto;
    content:"";
}

@media screen and (max-width:800px min-width 320px) {
  .top-section {
    margin: 0;
    width:20%;
  }

  .card-container {
    margin: 0;
    float:left;
  }
